/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/img
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env_onServer
.env_onLocal
.htaccess_onServer
server_onServer.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# OS specific
.DS_Store
Thumbs.db