.errorPage {
    text-align: center;
    padding: 50px 20px;
    margin-top: 15em;
    background-image: url(../img/backgrounds/tiling-animals.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}


.errorPage h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.errorPage p {
    margin-bottom: 2rem;
}

.errorPage a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    /* Add your theme colors */
}
.errorPage ~ footer {
    display: none;
}
