.edu > li > img,
.circle-img {
    border-radius: 50%;
    margin: 0;
    height: 200px;
    width: 200px;
    object-fit: cover;
    cursor: pointer;
}

.edu > li > img {
    position: relative;
    top: 0;
}

@media screen and (min-width: 720px) {
    .circle-img {
        height:200px;
        width: 200px;
    }
}